@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* Light background */
  --foreground: #171717; /* Dark foreground for text */
  --navbar: #000000;     /* Black navbar */
  --link-hover: #E5E5E5; /* Light gray for link hover effect */
}

nav {
  background-color: var(--navbar);
  color: var(--foreground);
}

a {
  color: var(--foreground);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media (prefers-color-scheme: light) {
  nav {
    color: #ffffff; /* White text for the navbar in light theme */
  }

  a {
    background: linear-gradient(to right, #4caf50, #008cba); /* Button gradient for light theme */
    color: #ffffff; /* White button text */
  }

  a:hover {
    background: linear-gradient(to right, #3e8e41, #007bb5); /* Hover effect for light theme */
    color: #ffffff;
  }

  .skills-page {
    color: #171717; /* Dark text for skills page in light theme */
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
