@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* Light background */
  --foreground: #171717; /* Dark foreground for text */
  --navbar: #000000;     /* Black navbar */
  --link-hover: #E5E5E5; /* Light gray for link hover effect */
}

nav {
  background-color: var(--navbar);
}

a {
  color: var(--foreground);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
